# Database url
DATABASE_URL=local.db

# Better-auth
BETTER_AUTH_SECRET=my_super_secret
BETTER_AUTH_URL=http://localhost:5173/

# Better-auth github login
CLIENT_ID_GITHUB=my_github_id
CLIENT_SECRET_GITHUB=my_github_secret

AUDIO_DIR=/var/lib/muzikaro/audio/
COVER_DIR=/var/lib/muzikaro/covers/

# For production only
PRODUCTION_HOST=0.0.0.0
PRODUCTION_PORT=3000
PRODUCTION_ORIGIN=http://localhost:5173/